<h2><strong>イベント概要</strong></h2>
<p><%= event.abstract %></p>
<h2><strong>コメント</strong></h2>
<% @post.each do |p| %>
  <% user = User.find_by(id: p.user_id) %>
  <%= render partial: 'users/user_mini_image', locals: {usr: user} %>
  <%= p.content %>(posted by
  <%= user.username %>)
  <% if current_user.id == p.user_id %>
    <%= link_to("削除", p, :method => :delete, 
    data: { confirm: 'このコメントを削除しますか?',
    commit: 'Destroy',
    cancel: 'Cancel' 
          } ) %>
  <% end %>
  <br>
<% end %>
<hr>
<%= form_for(Post.new) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <%= f.hidden_field :event_id, :value => event.id %>
  <%= f.text_field :content %>
  <%= f.submit "コメントを投稿" %>
<% end %>