
<%= form_for(@event) do |f| %>

    <%= f.label :"#{I18n.t("events.name")}" %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :"#{I18n.t("events.content")}" %>
    <br>
    <%= f.text_area :abstract %>
    <br>
    <%= f.label :"#{I18n.t("events.location")}" %>
    <%= f.text_field :location %>
    <br>
    <% if flash[:danger] %>
        <div class="event_error_message">
            <%= flash[:danger] %>
        </div>
    <% end %>
    <%= f.label :"#{I18n.t("events.start")}" %>
    <%= f.datetime_select :start_time, {use_month_numbers: true} %>
    <br>
    <%= f.label :"#{I18n.t("events.end")}" %>
    <%= f.datetime_select :end_time, {use_month_numbers: true} %>
    <hr>
    <%= f.label :"#{I18n.t("events.participants.add")}" %>
    <br>
    <% User.friend(current_user.id).each do |u| %>
        <%= check_box_tag('add_ids[]', value = u.id, checked = event_participants?(@event.id, u.id), options = {}) %>
        <%= render partial: 'users/user_mini_image', locals: {usr: u} %>
        <%= u.username %>
        <br>
    <% end %>

    <hr>
    <div class="open_range">
        <%= f.label :"#{I18n.t("events.open_range.title")}" %>
        <%= f.radio_button :open_range, :private_range %>
        <%= f.label :open_range, I18n.t("events.open_range.private"), {value: :private_range, style: "display: inline-block;"} %>
        <%= f.radio_button :open_range, :public_range %>
        <%= f.label :open_range, I18n.t("events.open_range.public"), {value: :public_range, style: "display: inline-block;"} %>
    </div>
    <hr>
    <%= f.submit I18n.t("events.create") %>
<% end %>
