
<%= form_for(@event) do |f| %>

    <%= f.label :イベント名 %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :イベント概要 %>
    <%= f.text_field :abstract %>
    <br>
    <%= f.label :場所 %>
    <%= f.text_field :location %>
    <br>
    <% if flash[:danger] %>
        <div class="event_error_message">
            <%= flash[:danger] %>
        </div>
    <% end %>
    <%= f.label :開始時刻 %>
    <%= f.datetime_select :start_time %>
    <br>
    <%= f.label :終了時刻 %>
    <%= f.datetime_select :end_time %>
    <hr>
    <%= f.label :参加者の追加 %>
    <br>
    <% User.friend(current_user.id).each do |u| %>
        <%= check_box_tag('add_ids[]', value = u.id, checked = event_participants?(@event.id, u.id), options = {}) %>
        <%= image_tag('user.png', :size =>'32x32') %>
        <%= u.username %>
        <br>
    <% end %>

    <hr>
    <%= f.submit "作成" %>
<% end %>
