<center>
<% event = Event.find(params[:id]) %>
<h1><strong><%= event.name %></strong></h1>
<p>開始：<%= event.start_time.strftime("%Y/%m/%d %H:%M").to_s %> 
<br>
終了：<%= event.end_time.strftime("%Y/%m/%d %H:%M").to_s %>
</p>
<hr>
<h2><strong>場所</strong></h2>
<p><%= event.location %></p>

<%= render '/events/map' %>
<hr>
<h2><strong>参加者</strong></h2>
<hr>
<h2><strong>イベント概要</strong></h2>
<p><%= event.abstract %></p>
</center>
