<div class="event-info">
    <center>
        <h2>EVENT INFORMATION</h2>
        <% event = @event %>
        <h1><strong><%= event.name %></strong></h1>
        <p>開始：<%= event.start_time.strftime("%Y/%m/%d %H:%M").to_s %> 
        <br>
        終了：<%= event.end_time.strftime("%Y/%m/%d %H:%M").to_s %>
        </p>
        作成者：<%= User.find_by(id: event.user_id).username %>
        <hr>
        <h2><strong>場所</strong></h2>
        <p><%= event.location %></p>

        <%= render '/events/map' %>

        <hr>
        <h2><strong>参加者</strong></h2>
        <br>
        <% event.participants.each do |participants| %>
          <%= image_tag('user.png', :size =>'32x32') %>
          <%= User.find_by(id: participants.user_id).username %>
        <% end %>
        <hr>
        <h2><strong>イベント概要</strong></h2>
        <p><%= event.abstract %></p>
        <h2>コメント</h2>
        <% @post.each do |p| %>
          ・<%= p.content %>(posted by
          <%= User.find_by(id: p.user_id).username %>)
          <br>
        <% end %>
        <br>
        <hr>
        <%= form_for(Post.new) do |f| %>
          <%= f.hidden_field :event_id, :value => event.id %>
          <%= f.text_field :content %>
          <%= f.submit "コメントを投稿" %>
        <% end %>
    </center>
</div>
