<div class="roundbox">
    <div id="event_title">
        <%= link_to(event.name, event_path(event.id)) %>
    </div>
    <div id="event_time">
        <%= I18n.t(:start_time) %>:<%= event.start_time.strftime("%Y/%m/%d %H:%M").to_s %><br>
        <%= I18n.t(:end_time) %>:<%= event.end_time.strftime("%Y/%m/%d %H:%M").to_s %>
    </div>
    <div>
    <% admin_user = User.find_by(id: event.user_id) %>
    <%= render partial: 'users/user_mini_image', locals: {usr: admin_user} %>
    <% event.participants.each do |participants| %>
          <% user = User.find_by(id: participants.user_id) %>
          <%= render partial: 'users/user_mini_image', locals: {usr: user} %>
    <% end %>
    </div>
    <div id="event_edit">
        <% if event.user_id == current_user.id %>
            <%= link_to(I18n.t(:edit), edit_event_path(event.id)) %>
            　　
            <%= link_to(I18n.t(:delete), event, :method => :delete, 
            title: event.name, 
            data: { confirm: I18n.t(:confirm),
            commit: I18n.t(:commit),
            cancel: I18n.t(:cancel) 
        } ) %>
        <% end %>
    </div>

</div>