<div class="event-list">
    <center>
        <div id="event_top">
            <h2>RECENT EVENTS</h2>
        </div>
        <!-- すべてのイベントの中から現在のユーザが作成したものを表示する -->
            <% Event.all.each do |event| %>
                <% if current_user.id == event.user_id %>
                    <div class="roundbox">
                        <div id="event_title">
                            <%= link_to(event.name, event_path(event.id)) %>
                        </div>
                        <div id="event_time">
                            開始時刻:<%= event.start_time.strftime("%Y/%m/%d %H:%M").to_s %><br>
                            終了時刻:<%= event.end_time.strftime("%Y/%m/%d %H:%M").to_s %>
                        </div>
                        <div id="event_edit">
                            <%= link_to("編集", edit_event_path(event.id)) %>
                            <br>
                            <%= link_to("削除", event, :method => :delete, 
                            title: event.name, 
                            data: { confirm: 'このイベントを削除しますか?',
                            commit: 'Destroy',
                            cancel: 'Cancel' 
                        } ) %>
                        </div>
                    </div>
                <% end %>
            <% end %>
        <hr>
        <%= link_to "新しい予定を作成する", '/events/new' %>
    </center>
</div>


