<div class="page-container">
    <div class="event-list">
        <center>
            <div id="event_top">
                <h2>RECENT EVENTS</h2>
            </div>
            <!-- すべてのイベントの中から現在のユーザが作成したものを表示する -->
                <% @events.each do |event| %>
                    <%= render partial: 'event_list', locals: {event: event} %>
                <% end %>
                <%= paginate(@events) %>
            <hr>
            <%= link_to I18n.t(:old), pages_show_old_path %>
            <br>
            <%= link_to I18n.t(:new), new_event_path %>
        </center>
    </div>

    <div class="user-info">
        <center>
            <h2><%= image_tag('profile.png', :size => "32x32") %> YOUR IMAGE <%= image_tag('profile.png', :size => "32x32") %> </h2>
                <%= render partial: 'users/user_image', locals: {usr: current_user} %>
            <br>
            <% if current_user.try(:admin?) %>
                <%= I18n.t(:admin_user) %>
            <% else %>
                <%= I18n.t(:normal_user) %>
            <% end %>
            <%= render 'calendar' %>
            <h2><%= image_tag('friends.png', :size => "32x32") %> FRIENDS <%= image_tag('friends.png', :size => "32x32") %></h2>
            <br>
            <%= render '/users/friend_list' %>
            <%= form_tag("/users/search",:method => 'get', class: "search_form") do %>
                <%= text_field_tag :search %>
                <%= submit_tag I18n.t(:search), :name => nil %>
            <% end %>
        </center>
    </div>
</div>


