<div class="page-container">
    <div class="event-list">
        <center>
            <div id="event_top">
                <h2>RECENT EVENTS</h2>
            </div>
            <!-- すべてのイベントの中から現在のユーザが作成したものを表示する -->
                <% @events.each do |event| %>
                    <% if ((current_user.id == event.user_id) || (event_participants?(event.id, current_user.id) ) ) && (!event_finished?(event)) %>
                        <%= render partial: 'event_list', locals: {event: event} %>
                    <% end %>
                <% end %>
                <%= paginate(@events) %>
            <hr>
            <%= link_to "過去の予定を見る", '/pages/show_old' %>
            <br>
            <%= link_to "新しい予定を作成する", '/events/new' %>
        </center>
    </div>

    <div class="user-info">
        <center>
            <h2><%= image_tag('profile.png', :size => "32x32") %> YOUR IMAGE <%= image_tag('profile.png', :size => "32x32") %> </h2>
                <%= render partial: 'users/user_image', locals: {usr: current_user} %>
            <br>
            <% if current_user.try(:admin?) %>
                    管理者
            <% else %>
                    一般ユーザー
            <% end %>
            <%= render 'calendar' %>
            <h2><%= image_tag('friends.png', :size => "32x32") %> FRIEND <%= image_tag('friends.png', :size => "32x32") %></h2>
            <br>
            <%= render '/users/friend_list' %>
            <%= form_tag("/users/search",:method => 'get', class: "search_form") do %>
                <%= text_field_tag :search %>
                <%= submit_tag 'Search', :name => nil %>
            <% end %>
        </center>
    </div>
</div>


