<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <%= image_tag('home.png', :size =>'32x32') %>
              <%= link_to "HOME", pages_show_path %>
              <%= image_tag('new.png', :size =>'32x32') %>
              <%= link_to 'NEW', events_new_path %>
              <%= image_tag('edit.png', :size =>'32x32') %>
              <%= link_to 'EDIT', edit_user_registration_path %>
              <%= image_tag('logout.png', :size =>'32x32') %>
              <%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %>
            <% else %>
            <%= image_tag('signup.png', :size =>'32x32') %>
              <%= link_to 'SIGNUP', new_user_registration_path %>
              <%= image_tag('login.png', :size =>'32x32') %>
              <%= link_to 'LOGIN', new_user_session_path %>
              <% end %>
          </ul>  
        </nav>    
      </div>    
    </header>